<div fxLayout="row wrap" class="greyColor whiteBox" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/LinkedIn app images/neutrinos_cover_image.jpeg" style="border-radius: 10px;" width="100%"></div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true"><img imgSrc="/Web/Facebook app Images/default-profile-picture.png" style="    border-radius: 50%;     height: 72px;     border: white solid;     margin-top: -34px;" width="72px"></div>
    <div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
        <div>
          <p style="margin: 0;
    font-size: 20px;
    font-weight: bold; color: black;">Chand Tjingaete</p>
          <p style="    margin: 0;
    font-size: smaller; ">Intern at Neutrinos</p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-bottom:10px;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100%" fxLayoutAlign="center center" [fxShow]="true">
        <div style="width:100%;">
          <hr>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center start" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="90%" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start none" [fxShow]="true">
            <div>
              <p style="margin: 0; font-size: smaller;">Connections</p>
              <p style="margin: 0;color: black; font-size: smaller; font-weight: bold;">Connect with alumni</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start none" [fxShow]="true">
            <div>
              <p style="color: blue; font-weight: bold; margin-top: 0px">18</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-bottom:10px;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100%" fxLayoutAlign="center center" [fxShow]="true">
        <div style="width:100%;">
          <hr>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="90%" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>

            <p style="margin: 0; font-size: smaller;">Access exclusive tools &amp; insights</p>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-icon style="     color: #eaad5c;     font-size: larger;">dashboard</mat-icon>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <p style="margin: 0;color: black; font-size: smaller; font-weight: bold;">Try Premium for free</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" style="margin-bottom:10px;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100%" fxLayoutAlign="center center" [fxShow]="true">
        <div style="width:100%;">
          <hr>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="90%" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-icon style="     color: #666;     font-size: larger;">bookmark</mat-icon>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              <p style="margin: 0;font-weight: bold; color: black; font-size: smaller;">My items</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>