<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="height: 53px" fxFlex="90" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="padding-top: 5px; " fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/LinkedIn app images/LinkedIn_logo.png.webp" class="navBarLogo"></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxShow.sm="true" fxShow.xs="true" fxHide.md="true" fxHide.lg="true">
            <mat-icon>search</mat-icon>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" fxShow.lt-md="false">
            <div style=" ">
              <input style="     color: #666666;
    border-radius: 5px;
    border-color: transparent;
    font-size: small;
    background-color: #378fe940;
    height: 28px;
        width: 280px;" placeholder="   Search">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxHide.xs="true">
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center space-between" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="greyColor" fxLayoutGap="30px" fxLayoutAlign="space-between center" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="end center" [fxShow]="true" *ngFor="let icon of page.navIcons">
                <mat-icon class="mat-icon">{{icon.name}}</mat-icon>
                <p fxHide.sm="true" fxHide.xs="true">
                  {{icon.text}}
                </p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Facebook app Images/default-profile-picture.png" style="border-radius: 50%;" width="24px">
                <p fxHide.sm="true" fxHide.xs="true">
                  Me</p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" style="border-left: 2px solid #666666;" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" style="margin-left:30px;" fxLayoutGap="30px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="greyColor" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon class="mat-icon">apps</mat-icon>
                <p fxHide.sm="true" fxHide.xs="true">
                  Work</p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true">
                <div style="color: #935d0f;">
                  <p style="text-align: center; text-decoration=underline">Try Premium for <br> free
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" style="margin-top:5px;     padding-right: 12px;" fxLayoutAlign="start stretch" [fxShow]="false" fxShow.xs="true">
        <div fxLayout="column wrap" class="greyColor" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="font-size:35px;" class="mat-icon" (click)="hideShowSidenav()">menu</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>