<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true"></div>
<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="29%" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="space-between center" [fxShow]="true" fxFlex.sm="70px">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/LinkedIn app images/LinkedIn_logo.png.webp" class="navBarLogo"></div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" fxShow.sm="true" fxShow.xs="true" fxHide.md="true" fxHide.lg="true">
            <mat-icon>search</mat-icon>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" fxShow.lt-md="false">
            <div style=" ">
              <input style="     color: #666666;
    border-radius: 5px;
    border-color: transparent;
    font-size: small;
    background-color: #378fe940;
    height: 28px;
        width: 280px;" placeholder="   Search">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center space-between" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="greyColor" fxLayoutGap="30px" fxLayoutAlign="space-between center" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="end center" [fxShow]="true" *ngFor="let icon of page.navIcons">
                <mat-icon class="mat-icon">{{icon.name}}</mat-icon>
                <p>
                  {{icon.text}}
                </p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Facebook app Images/default-profile-picture.png" style="border-radius: 50%;" width="24px">
                <p>
                  Me</p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" style="border-left: 2px solid #666666;" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" style="margin-left:30px;" fxLayoutGap="30px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="greyColor" fxLayoutAlign="start stretch" [fxShow]="true">
                <mat-icon class="mat-icon">apps</mat-icon>
                <p>
                  Work</p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p style="color: #935d0f;">
                  Try Premium for <br> free
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>