<div fxLayout="row wrap" style="border-radius: 50% width:72px: height:72px:" class="whiteBox" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" class="whiteBox" fxFlex="90" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true"><img></div>
      <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true"><img></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <p>
        Find a job at a company that needs your help</p>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true"><button mat-button color="blue">Search jobs</button></div>
  </div>
</div>